<div class="row">
  <div class="col-xl-12 col-lg-12">
    <h2>Edit Member</h2>
      <%= form_for(@member,url: 'update', html: { method: :put })do |f| %>
      <fieldset class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name" %> 
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control',  placeholder: "Website" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :bio %>
        <%= f.text_field :bio, class: 'form-control', placeholder: "Bio" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :gender %>
          <%= f.radio_button :gender,  'Male', checked: "checked" %> Male
          <%= f.radio_button :gender, 'Female' %> Female
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control', rows:"3" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control', placeholder: "State" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control', placeholder: "City" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control', placeholder: "Phone" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :info %>
        <%= f.text_field :info, class: 'form-control',placeholder:"Info" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :is_verified %>
          <%= f.radio_button :is_verified, '1', checked: @member.is_verified? %> Yes
          <%= f.radio_button :is_verified, '0', checked: !@member.is_verified? %> No
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :is_active %>
          <%= f.radio_button :is_active, '1', checked: @member.is_active? %> Yes
          <%= f.radio_button :is_active, '0', checked: !@member.is_active? %> No
      </fieldset>

      <%= f.submit "Save changes", class: "btn btn-secondary" %>
      <button type="reset" class="btn btn-secondary">Reset</button>
    <% end %>
  </div>
 </div>
