<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Thumb</th>
          <th>User</th>
          <th>Created On</th>
          <th>Total Comments</th>
          <th>Total Likes</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @photos.each do |photo| %>
        <tr>
          <td><img src="<%= photo.image.url(:thumb) %>"/></td>
          <td><%= photo.user&.name %></td>
          <td><%= photo.created_at %></td>
          <td><%= photo.comments_count %></td>
          <td><%= photo.likes_count %></td>

          <td>
            <%= link_to('Delete', admin_photo_path(photo), method: :delete, data: {:confirm => "You sure?" }) %>
          </td>


         </tr>
        <% end %>
        </tbody>
      </table>

      <div class="pull-right">
        <%= paginate @photos %>
      </div>


    </div>
  </div>
 </div>
