<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Caption</th>
          <th>User</th>
          <th>Total Comments</th>
          <th>Total Likes</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @stories.each do |story| %>
        <tr>
          <td><%= story.caption %></td>
          <td><%= story.user.name %></td>
          <td><%= story.comments_count %></td>
          <td><%= story.likes_count %></td>

          <td><%= link_to('View', admin_story_path(story)) %> | <%= link_to('Delete', admin_story_path(story), method: :delete) %></td>


         </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
 </div>
