<div class="row">

  <% if @story.face1_media.file? %>
  <div class="col-md-4">
    <img src="<%= @story.face1_media.url %>"/>
  </div>
  <% end %>


  <% if @story.face2_media.file? %>
      <div class="col-md-4">
        <img src="<%= @story.face2_media.url %>"/>
      </div>
  <% end %>


  <% if @story.face3_media.file? %>
      <div class="col-md-4">
        <img src="<%= @story.face3_media.url %>"/>
      </div>
  <% end %>


  <% if @story.face4_media.file? %>
      <div class="col-md-4">
        <img src="<%= @story.face4_media.url %>"/>
      </div>
  <% end %>


  <% if @story.face5_media.file? %>
      <div class="col-md-4">
        <img src="<%= @story.face5_media.url %>"/>
      </div>
  <% end %>


  <% if @story.face6_media.file? %>
      <div class="col-md-4">
        <img src="<%= @story.face6_media.url %>"/>
      </div>
  <% end %>

 </div>

<div class="row">
  <div class="col-md-12">
    <p><input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" /></p>
  </div>
</div>
