<div class="sidebar" data-color="orange" data-image="/admin/assets/img/sidebar-2.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/admin" class="simple-text">
        <%= image_tag "/admin/assets/img/40x40.png" %>
      </a>
    </div>

    <ul class="nav">
      <li <%= 'class=active' if params[:controller] == 'admin/home'%> >
        <a href="/admin/home">
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li <%= 'class=active' if params[:controller] == 'admin/members'%> >
        <a href="/admin/members">
          <i class="pe-7s-user"></i>
          <p>User</p>
        </a>
      </li>
      <li <%= 'class=active' if params[:controller] == 'admin/stories'%> >
        <a href="/admin/stories">
          <i class="pe-7s-photo-gallery"></i>
          <p>Turn Stories</p>
        </a>
      </li>
      <li <%= 'class=active' if params[:controller] == 'admin/videos'%> >
        <a href="/admin/video-stories">
          <i class="pe-7s-film"></i>
          <p>Video Stories</p>
        </a>
      </li>
      <li <%= 'class=active' if params[:controller] == 'admin/photo'%> >
        <a href="/admin/photos">
          <i class="pe-7s-photo"></i>
          <p>Photos</p>
        </a>
      </li>
      <li<%= 'class=active' if params[:controller] == 'admin/reports'%> >
        <a href="/admin/reports">
          <i class="pe-7s-news-paper"></i>
          <p>Reports</p>
        </a>
      </li>
      <li<%= 'class=active' if params[:controller] == 'admin/settings'%> >
        <a href="/admin/settings">
          <i class="pe-7s-settings"></i>
          <p>Settings</p>
        </a>
      </li>
      <li class="active-pro">
        <a href="download.html">
          <i class="pe-7s-rocket"></i>
          <p>Download App</p>
        </a>
      </li>
    </ul>
  </div>
</div>
