<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>User</th>
          <th>Created On</th>
          <th>Total Comments</th>
          <th>Total Likes</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @videos.each do |video| %>
        <tr>
          <td><%= video.owner&.name %></td>
          <td><%= video.created_at %></td>
          <td><%= video.comments_count %></td>
          <td><%= video.likes_count %></td>

          <td>
            <%= link_to('Delete', admin_video_path(video), method: :delete, data: {:confirm => "You sure?" }) %>
          </td>


         </tr>
        <% end %>
        </tbody>
      </table>

      <div class="pull-right">
        <%= paginate @videos %>
      </div>

    </div>
  </div>
 </div>
